---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection sectionTitle='sobre mi' sectionId='about-me'>
	<article
		class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
	>
		<div class='[&>p]:tracking-wide [&>p]:font-light'>
			<p>
				El deporte siempre ha sido esencial en mi vida, especialmente el
				basketball y el fútbol, actividades que me apasionan. Estos deportes me
				mantienen activo y en forma, pero también son una fuente constante de
				aprendizaje y crecimiento personal.
			</p>
			<p>
				He desarrollado habilidades clave, como trabajo en equipo, comunicación
				efectiva y perseverancia, que reflejo en mi enfoque colaborativo en el
				trabajo.
			</p>
			<p>
				Además, mi amor por los videojuegos ha fortalecido mi capacidad para
				resolver problemas, tomar decisiones bajo presión y adaptarme,
				habilidades que aplico en entornos laborales desafiantes.
			</p>
		</div>
	</article>
</LayoutSection>
