---
import LayoutSection from '../layouts/LayoutSection.astro';
---

<LayoutSection
	sectionTitle='perfil profesional'
	sectionId='professional-profile'>
	<article class='flex flex-col gap-6'>
		<div class='flex flex-col gap-6 [&>p]:tracking-wide'>
			<p class=''>
				Ingeniero en sistemas computacionales recién egresado del Instituto
				Politécnico Nacional con habilidades en el desarrollo de aplicaciones
				web utilizando HTML, CSS, JavaScript y React, y Git.
			</p>
			<p>
				Buscando oportunidades para aplicar mis habilidades en tecnología y
				crecer profesionalmente.
			</p>
		</div>
		<div>
			<h2
				class='text-4xl max-sm:text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-green-300 via-blue-500 to-purple-600 capitalize tracking-wide'>
				sobre mi
			</h2>
		</div>
	</article>
</LayoutSection>
