<header
  class='w-full flex flex-col items-center justify-center gap-1 font-light text-sm'
>
  <h2>Carlos Enrique Salinas Franco</h2>
  <ul class='w-full flex justify-center gap-4'>
    <li><a href='#' class='text-sky-600'>enrique.sfranco04@gmail.com</a></li>
    <li>
      <a href='https://github.com/enriqueSFranco' class='text-sky-600'
        >enriqueSFranco</a
      >
    </li>
    <li><a href='#' class='text-sky-600'>linkedin</a></li>
  </ul>
</header>
