<section
  class='w-full flex flex-col justify-center items-center text-sm font-normal'
>
  <header class='w-2/3 flex flex-col items-center justify-center gap-1'>
    <h2>Carlos Enrique Salinas Franco</h2>
    <ul class='w-full grid justify-items-center grid-cols-3 divide-x'>
      <li><a href='#' class='text-sky-600'>enrique.sfranco04@gmail.com</a></li>
      <li>
        <a href='https://github.com/enriqueSFranco' class='text-sky-600'
          >enriqueSFranco</a>
      </li>
      <li><a href='#' class='text-sky-600'>linkedin</a></li>
    </ul>
  </header>
</section>
