---
import "@/layouts/LayoutSection.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection sectionTitle='educación'>
  <div class='leading-normal text-balance'>
    <div class='flex flex-col'>
      <p class='font-semibold'>
        Instituto Politécnico Nacional - Escuela Superior de Cómputo
      </p>
      <p>Ingenieria en Sistemas Computacionales</p>
    </div>
    <p>2017 - 2023</p>
  </div>
</LayoutSection>
