---
import "@/layouts/LayoutSection.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
import Chip from "@/components/Chip.astro";
import cv from "@/cv.json";

const { hardSkills } = cv.skills;
---

<LayoutSection sectionTitle='conocimientos'>
  <ul class='w-full h-full flex flex-wrap items-center gap-3 font-light'>
    {
      hardSkills.map(({ text, bgColor, color, icon }) => (
        <li>
          <Chip text={text} color={color} bgColor={bgColor} />
        </li>
      ))
    }
  </ul>
</LayoutSection>
