---
import "@/layouts/LayoutSection.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
import Badge from "@/components/Badge.astro";
import cv from "@/cv.json";

const { hardSkills } = cv.skills;
---

<LayoutSection sectionTitle='conocimientos técnicos'>
  <ul class='w-full h-full flex flex-wrap items-center gap-3 font-light'>
    {
      hardSkills.map((text) => (
        <li>
          <Badge>{text}</Badge>
        </li>
      ))
    }
  </ul>
</LayoutSection>
