---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "./Home.astro";
import Projects from "./Projects.astro";
import Panel from "../components/Panel.astro";
import Footer from "../components/Footer.astro";
import ProfessionalProfile from "./ProfessionalProfile.astro";
---

<Layout title='kike SF | Frontend Developer'>
	<Panel />
	<div id='app' class='transition-all duration-200 ease-in'>
		<Header />
		<main>
			<Home />
			<ProfessionalProfile />
			<Projects />
		</main>
		<Footer />
	</div>
</Layout>
