---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from './Home.astro';
import ProfessionalProfile from './ProfessionalProfile.astro';
import Projects from './Projects.astro';
---

<Layout title='kike SF'>
	<Header />
	<main>
		<Home />
		<ProfessionalProfile />
		<Projects />
	</main>
</Layout>
