---
import Layout from "@/layouts/Layout.astro";
import Projects from "./Projects.astro";
import Education from "./Education.astro";
import Basic from "./Basic.astro";
import Footer from "@/components/Footer.astro";
import HardSkills from "./HardSkills.astro";
import cv from "@/cv.json";

const { name, job } = cv.basic;
---

<Layout title={`Portafolio de ${name} - ${job}`}>
  <main
    id='app'
    class='flex grow flex-col gap-6 max-w-4xl text-sm'
  >
    <Basic />
    <Education />
    <Projects />
    <HardSkills />
  </main>
  <Footer />
</Layout>
