---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from './Home.astro';
import ProfessionalProfile from './ProfessionalProfile.astro';
---

<Layout title='kike SF'>
	<Header />
	<main class='snap-y grid place-items-center'>
		<Home />
		<ProfessionalProfile />
	</main>
</Layout>
