---
import Layout from "@/layouts/Layout.astro";
import Projects from "./Projects.astro";
import ProfessionalProfile from "./ProfessionalProfile.astro";
import Education from "./Education.astro";
import Basic from "./Basic.astro";
import HardSkills from "./HardSkills.astro";
import SoftSkills from "./SoftSkills.astro";
import cv from "@/cv.json";

const { name, job } = cv.basic;
---

<Layout title={`Portafolio de ${name} - ${job}`}>
  <main
    id='app'
    class='max-w-3xl h-full flex flex-col justify-center gap-6 rounded-lg p-8'
  >
    <Basic />
    <Education />
    <ProfessionalProfile />
    <Projects />
    <HardSkills />
    <SoftSkills />
  </main>
</Layout>
