---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection sectionTitle='perfil profesional'>
  <article
    class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
  >
    <p class='line-clamp-3'>
      Ingeniero en sistemas computacionales recién egresado del Instituto
      Politécnico Nacional con habilidades en el desarrollo de aplicaciones web
      utilizando HTML, CSS, Tailwind, JavaScript y React, y Git.
    </p>
    <p class='line-clamp-3'>
      Buscando oportunidades para aplicar mis habilidades en tecnología y crecer
      profesionalmente.
    </p>
  </article>
</LayoutSection>
