---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection sectionTitle='objetivo profesional'>
  <article
    class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
  >
    <p>
      Formar parte de una empresa innovadora y dinámica como desarrollador
      frontend, donde pueda contribuir con mis habilidades y seguir creciendo
      profesionalmente en el ámbito del desarrollo web.
    </p>
  </article>
</LayoutSection>
