---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection sectionTitle='perfil profesional'>
  <p class='leading-normal text-balance'>
    Soy un Desarrollador Frontend recién egresado con un sólido conocimiento de
    las tecnologías modernas de desarrollo web, incluyendo JavaScript,
    TypeScript y React.js. Mi enfoque principal ha sido el desarrollo de
    interfaces de usuario interactivas y responsivas. Además, cuento con un
    conocimiento básico de React Native, lo que me permite extender mis
    habilidades al desarrollo de aplicaciones móviles multiplataforma.
  </p>
</LayoutSection>
