---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection
  sectionId='professional-profile'
  sectionTitle='perfil profesional'
>
  <div class='w-full h-2/3 flex flex-col items-start gap-8 xl:w-1/2'>
    <article
      class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
    >
      <p>
        Ingeniero en sistemas computacionales recién egresado del Instituto
        Politécnico Nacional con habilidades en el desarrollo de aplicaciones
        web utilizando HTML, CSS, Tailwind, JavaScript y React, y Git.
      </p>
      <p>
        Buscando oportunidades para aplicar mis habilidades en tecnología y
        crecer profesionalmente.
      </p>
    </article>
    <article
      class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
    >
      <header class='h-10'>
        <h2
          class='xl:text-4xl text-3xl xl:text-center font-bold text-transparent bg-clip-text bg-gradient-to-tr from-green-400 to-blue-600 capitalize tracking-wide'
        >
          sobre mi
        </h2>
      </header>
      <div
        class='flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light [&>p]:text-sm [&>p]:xl:text-base'
      >
        <p>
          Me gusta hacer ejercicio, veo series, películas y leí sobre
          tecnología. En busca de un equilibrio entre lo activo y lo
          tecnológico.
          Siempre me ha gustado mucho el deporte, especialmente el básquetbol y
          el fútbol. Estos deportes me mantienen activo y en forma, pero también
          son una fuente constante de aprendizaje y crecimiento personal.
        </p>
        <p>
          He desarrollado habilidades fundamentales, como el trabajo en equipo,
          la comunicación eficaz y la perseverancia.
        </p>
        <p>
          También, los videojuegos son otro de mis pasatiempos favoritos y han
          fortalecido mi capacidad para resolver problemas, tomar decisiones
          bajo presión y adaptarme, habilidades que aplico en entornos de
          trabajo difíciles.
          El deporte siempre ha sido esencial en mi vida, especialmente el
          basketball y el fútbol, actividades que me apasionan. Estos deportes
          me mantienen activo y en forma, pero también son una fuente constante
          de aprendizaje y crecimiento personal.
        </p>
        <p>
          He desarrollado habilidades clave, como trabajo en equipo,
          comunicación efectiva y perseverancia, que reflejo en mi enfoque
          colaborativo en el trabajo.
        </p>
        <p>
          Además, mi amor por los videojuegos ha fortalecido mi capacidad para
          resolver problemas, tomar decisiones bajo presión y adaptarme,
          habilidades que aplico en entornos laborales desafiantes.
        </p>
      </div>
    </article>
  </div>
</LayoutSection>
