---
import LayoutSection from "../layouts/LayoutSection.astro";
---

<LayoutSection
  sectionId='professional-profile'
  sectionTitle='perfil profesional'
>
  <article
    class='w-full flex flex-col gap-4 [&>p]:tracking-wide [&>p]:font-light'
  >
    <p>
      Ingeniero en sistemas computacionales recién egresado del Instituto
      Politécnico Nacional con habilidades en el desarrollo de aplicaciones web
      utilizando HTML, CSS, Tailwind, JavaScript y React, y Git.
    </p>
    <p>
      Buscando oportunidades para aplicar mis habilidades en tecnología y crecer
      profesionalmente.
    </p>
  </article>
</LayoutSection>
