---
import LayoutSection from '../layouts/LayoutSection.astro';
---

<LayoutSection
	sectionTitle='perfil profesional'
	sectionId='professional-profile'>
	<div>
		<p>
			Ingeniero en sistemas computacionales recién egresado del Instituto
			Politécnico Nacional con habilidades en el desarrollo de aplicaciones web
			utilizando HTML, CSS, JavaScript y React, y Git.
		</p>
		<p>
			Buscando oportunidades para aplicar mis habilidades en tecnología y crecer
			profesionalmente.
		</p>
	</div>
</LayoutSection>
