---
import LayoutSection from "../layouts/LayoutSection.astro";
import cv from "@/cv.json";

const { profile } = cv;
---

<LayoutSection sectionTitle='perfil profesional'>
  <p class='leading-normal text-balance'>
    {profile}
  </p>
</LayoutSection>
