---
import cv from "@/cv.json";
import IcGithub from "@/components/icons/IcGithub.astro"
import Project from "@/components/Project.astro";

const PROJECTS = cv.experience;
---

<section class='flex flex-col gap-1 justify-start items-start'>
  <h2 class="text-2xl capitalize font-semibold">proyectos</h2>
  <ol class="flex flex-col gap-4">      
    {
      PROJECTS.map((project) => (     
      <li>            
         <Project project={project} />
      </li>
      ))
    }            
  </ol>
</section>
