---
import Badge from "@/components/Badge.astro";
import cv from "@/cv.json";

const { softSkills } = cv.skills;
---

  <ul class='w-full h-full flex flex-wrap items-center gap-3 font-light'>
    {
      softSkills.map((text) => (
        <li>
          <Badge>{text}</Badge>
        </li>
      ))
    }
  </ul>
