---
import "@/layouts/LayoutSection.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
import Chip from "@/components/Chip.astro";
import cv from "@/cv.json";

const { softSkills } = cv.skills;
---

<LayoutSection sectionTitle='Fotalezas'>
  <ul class='w-full h-full flex flex-wrap items-center gap-3 font-light'>
    {
      softSkills.map(({ text, bgColor, color }) => (
        <li>
          <Chip text={text} color={color} bgColor={bgColor} />
        </li>
      ))
    }
  </ul>
</LayoutSection>
