---
import hero from "../assets/images/me.jpeg";
---

<div
  class='relative w-52 h-52 xl:w-72 xl:h-72 rounded-full p-0.5 overflow-hidden'
>
  <picture>
    <img src={hero} alt='kike sf' class='object-cover rounded-full' />
  </picture>
</div>
