---

interface Props {
  bgColor?: string
  textColor?: string
}

const {bgColor = "#000", textColor = "#fff"} = Astro.props
---

<span style={{backgroundColor: bgColor, color: textColor}} class="flex items-center outline outline-[1px] outline-white/20 text-xs w-fit font-medium me-2 px-2.5 py-1.5 rounded-full">
  <slot />
</span>