<div
	class='absolute rounded-md w-2/3 h-52 max-sm:rounded max-sm:bottom-0 lg:top-1/2 lg:left-64 lg:w-2/5 lg:h-40 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-30 lg:opacity-30 blur-3xl'>
</div>
