<footer
  class='bg-secondary-gray h-24 text-sm font-light grid place-items-center'
>
  <p>
    coded with 💙 by <a
      href='https://github.com/enriqueSFranco'
      target='_blank'
      rel='noreferrer'
      class='text-sky-700'>@enriqueSFranco</a
    >
  </p>
</footer>
