<footer class='bg-secondary-gray h-24 grid place-items-center'>
	<p class='text-lg'>
		coded with 💜 by <a
			href='https://github.com/enriqueSFranco'
			target='_blank'
			rel='noreferrer'
			class='text-purple-500'>@enriqueSFranco</a
		>
	</p>
</footer>
