<footer class='bg-secondary-gray h-24 grid place-items-center'>
	<p class='text-lg font-light'>
		coded with 💜 by <a
			href='https://github.com/enriqueSFranco'
			target='_blank'
			rel='noreferrer'
			class='text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500'>@enriqueSFranco</a
		>
	</p>
</footer>
