---
import { MENU } from '../share/consts';
import ItemMenu from './ItemMenu.astro';
import menuIcon from '/icons/menu-hamburger.svg';
---

<script src='../script/menuActive.ts'></script>

<script>
	const $panel = document.getElementById('panel');
	document.addEventListener('click', (e) => {
		if (
			(e.target && (e.target as Element).matches('#btn-open')) ||
			(e.target as Element).matches('#btn-open *')
		) {
			e.preventDefault();
			console.log('abrir');
			if ($panel !== null) {
				$panel.classList.toggle('right-0');
				$panel.classList.toggle('-right-full');
				document.getElementById('app').classList.toggle('blur-sm');
				document.body.style.overflow = 'hidden';
			}
		}

		if (
			(e.target && (e.target as Element).matches('#btn-close')) ||
			(e.target as Element).matches('#btn-close *')
		) {
			e.preventDefault();
			console.log('cerrar');
			if ($panel !== null) {
				$panel.classList.toggle('right-0');
				$panel.classList.toggle('-right-full');
				document.body.style.overflow = 'visible';
				document.getElementById('app').classList.toggle('blur-sm');
			}
		}
	});
</script>

<header
	id='primary-header'
	class='min-w-full h-16 flex justify-between items-center px-4 sticky top-0 bg-black/5 backdrop-blur-sm z-20'>
	<h1
		class='text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 capitalize tracking-wide'>
		kike
	</h1>
	<button id='btn-open' aria-label='button open menu' class='lg:hidden'>
		<img src={menuIcon} alt='menu hamburger icon' />
	</button>
	<nav class='h-16 max-sm:hidden' id='menu'>
		<ul class='flex items-center h-full' id='menu'>
			{
				MENU.map((item) => {
					return <ItemMenu item={item} />;
				})
			}
		</ul>
		<div
			id='indicator'
			class='absolute bg-white/20 opacity-0 backdrop-blur-lg -z-10 rounded-md left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out'>
		</div>
	</nav>
</header>
