---
interface Props {
  icon: string;
  url: string;
}

const { icon, url } = Astro.props;
---

<div
  class='bg-black flex items-center justify-between gap-2 rounded-md h-12 w-40 xl:w-44 text-sm font-light px-3 py-2 transition-colors duration-300 ease-in-out hover:bg-white/10'
>
  <img src={icon} alt='enriqueSFranco' class='w-5 xl:w-8' />
  <a href={url} target='_blank'>enriqueSFranco</a>
</div>
