---
import ItemKnowledge from "./ItemKnowledge.astro";
import data from "../api/data.json";

const skills = data.skills;
---

<ul
  class='w-[600px] flex justify-center items-center flex-wrap gap-4 xl:justify-start'
>
  {
    skills.map((skill) => (
      <li>
        <ItemKnowledge skill={skill} />
      </li>
    ))
  }
</ul>
