---
import { MENU } from '../share/consts';
import ItemMenu from './ItemMenu.astro';
import closeIcon from '/icons/close.svg';
---

<aside
	id='panel'
	class='w-2/3 h-screen bg-black fixed top-0 -right-full z-10 transition-all duration-200 ease-in'>
	<header class='flex justify-end h-16'>
		<button id='btn-close' class='px-4' aria-label='button close menu'>
			<img src={closeIcon} alt='close icon' />
		</button>
	</header>
	<nav class='h-16 w-full'>
		<ul class='flex flex-col items-start h-full text-white'>
			{
				MENU.map((item) => {
					return <ItemMenu item={item} />;
				})
			}
		</ul>
	</nav>
</aside>
