---
import type { Project } from "@/share/types.d";

interface Props {
  project: {
    id: number;
    name: string;
    description: string;
    highlights: string[];
  };
}

const { project } = Astro.props;
---

<li>
  <article class='flex flex-col overflow-hidden font-light leading-normal'>
    <h2 class='font-bold'>{project.name}</h2>
    <p class='text-sm text-black'>{project.description}</p>
    <ul>
      {
        project.highlights.map((highlight: string) => (
          <li>
            <p>{highlight}</p>
          </li>
        ))
      }
    </ul>
  </article>
</li>
