---
import type { Project } from "@/share/types";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<li>
  <article class='flex flex-col overflow-hidden font-light tracking-wide'>
    <p class='font-bold'>{project.name}</p>
    <p class='text-sm text-black'>{project.description}</p>
  </article>
</li>
