---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <!-- GOOGLE FONTS -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <meta
      name='description'
      content='curriculum vitae, cv, Frontend Developer, Desarrollo Web'
    />
    <meta name='author' content='Enrique SFranco' />
    <title>{title}</title>
  </head>
  <body
    class='w-full grid place-items-center bg-neutral-950 text-white text-base tracking-normal font-inter'
  >
    <div
      class='absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
    >
    </div>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer {
    html {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "slnt" 0;
    }
  }

  @media print {
    /* Estilos para la impresión */
    body {
      color: #000;
    }
    main {
      color: #000;
      padding: 4rem;
      margin: auto;
      width: 100%;
    }
    @media (width <= 700px) {
      main {
        padding: 2rem;
      }
    }
  }
</style>
