---
export interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
---

<section
  class='w-full h-full text-sm font-light flex justify-start gap-4 text-gray-300/80'
>
  <header>
    <h2 class='uppercase w-32 text-balance text-gray-300 font-bold'>
      {sectionTitle}
    </h2>
  </header>
  <slot />
</section>
