---
export interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
---

<section
  class='w-full h-full font-poppins text-sm flex flex-col justify-center gap-1'
>
  <h2 class='uppercase'>{sectionTitle}</h2>
  <div class='w-full h-[.8px] bg-black'></div>
  <slot />
</section>
