---
export interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
---

<section
  class='w-full h-full font-poppins text-sm font-light flex justify-start gap-8 text-gray-400/95'
>
  <h2 class='uppercase text-balance text-gray-300/95'>{sectionTitle}</h2>
  <slot />
</section>
