---
import Blob from '@/components/Blob.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <!-- GOOGLE FONTS -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <meta
      name='description'
      content='curriculum vitae, cv, Frontend Developer, Desarrollo Web'
    />
    <meta name='author' content='Enrique SFranco' />
    <title>{title}</title>
  </head>
  <body
    class='relative min-h-scree flex flex-col items-center bg-black text-white text-base tracking-normal font-inter'
  >
  <Blob />

    <header class="w-full h-16 px-4 py-2 shadow-sm flex items-center">
      <h2 class="text-3xl font-bold self-end">Enrique</h2>
      <div class="w-2 h-2 bg-emerald-500 rounded-full self-end"></div>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer {
    html {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "slnt" 0;
    }
  }

  @media print {
    /* Estilos para la impresión */
    body {
      color: #000;
    }
    main {
      color: #000;
      padding: 4rem;
      margin: auto;
      width: 100%;
    }
    @media (width <= 700px) {
      main {
        padding: 2rem;
      }
    }
  }
</style>
