---
export interface Props {
  sectionTitle: string;
  sectionId: string;
}

const { sectionTitle, sectionId } = Astro.props;
---

<section
  class='w-full lg:h-screen font-poppins p-8 flex flex-col justify-center xl:items-center gap-6'
  id={sectionId}
>
  <header class='h-10'>
    <h2
      class='xl:text-4xl text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-green-400 to-blue-600 capitalize tracking-wide'
    >
      {sectionTitle}
    </h2>
  </header>
  <slot />
</section>
