---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/logo.svg' />
		<!-- GOOGLE FONTS -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap'
			rel='stylesheet'
		/>
		<meta
			name='description'
			content='portafolio, Frontend Developer, Desarrollo Web, HTML5, CSS3, React, Vue, Javascript, Typescript, Tailwind'
		/>
		<meta name='author' content='Enrique SFranco' />
		<title>{title}</title>
	</head>
	<body class='dark:bg-slate-950 text-white font-poppins'>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer {
		html {
			font-family: "Poppins", sans-serif;
		}
	}
	[id] {
		scroll-margin-top: 4rem;
	}
</style>
