---
export interface Props {
	sectionTitle: string;
	sectionId: string;
}

const { sectionTitle, sectionId } = Astro.props;
---

<section class='min-h-screen p-8 flex flex-col gap-6' id={sectionId}>
	<h2
		class='text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-green-300 via-blue-500 to-purple-600 capitalize tracking-wide'>
		{sectionTitle}
	</h2>
	<slot />
</section>
